<div class="row">
	<div class="col-sm-12">
		<p class="lead hidden-sm hidden-xs"><span>Greater Colorado Anesthesia:</span> <strong>Discussions</strong></p>
		
		<p>Welcome to Greater Colorado Anesthesia's discussion board service.</p>
		
		<hr/>
		<h5>Please sign in to continue.</h5>
	</div>
</div>

<p><%= link_to "Sign in", signin_url, class: "btn btn-default" %></p>
