<div class="row">
	<div clas="span12">
		<div class="hero-unit">
			<h1>404</h1>
			<p class="lead">The page you're looking for cannot be found.</p>

			<p class="hidden-phone">As far as we can tell, whatever you're looking for doesn't exist (on this site, anyway). Chances are, the URL you've followed is incorrect.</p>

			<p><%= link_to "Get me out of here", :root, class: "btn btn-info" %></p>
		</div>
	</div>
</div>