<div class="row">
	<div class="span12">
		<div class="hero-unit">
			<h1>500</h1>
			<p class="lead">An application error has occurred.</p>

			<p class="hidden-phone">Don't worry, you didn't break anything, but the application encountered an error that it couldn't recover from. If you were working with data, your changes were probably not saved (sorry).</p>

			<p><%= link_to "Get me out of here", :root, class: "btn btn-info" %></p>
		</div>
	</div>
</div>
