<div class="row">
	<div class="span12">
		<div class="hero-unit">
			<h1><%= @status_code %></h1>
			<p class="lead">Aw, shucks.</p>

			<p>Something went wrong with your request, and things sort of fell apart. We're sorry about that. If you were working with data, it may have been lost.</p>

			<p><%= link_to "Get me out of here", :root, class: "btn btn-info" %></p>
		</div>
	</div>
</div>
